#Folders
__pycache__/
resources/
.venv/
.pytest_cache/
.uv_cache/
.uv-python/
.coverage
coverage.xml
htmlcov/
reports/
build/
dist/
*.egg-info/
libs/client*

# env
.env

# other
requirements.txt
requirements-dev.txt
requirements-prod.txt
*.mo
